#
# To generate the .gitmodules entry, use:
# p=_vim/bundle/[the plugin]; echo -e '[submodule "'$p'"]\n\tpath = '$p'\n\t'$(grep url $p/.git/config|head -1) >> .gitmodules
#
# Or just
# for p in $(ls -1d _vim/bundle/*); do echo -e '[submodule "'$p'"]\n\tpath = '$p'\n\t'$(grep url $p/.git/config|head -1); done
# (and then, just add the plugin).
#
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
	ignore = untracked
[submodule "_vim/bundle/LanguageTool"]
	path = _vim/bundle/LanguageTool
	url = https://github.com/vim-scripts/LanguageTool.git
	ignore = untracked
[submodule "_vim/bundle/Vundle.vim"]
	path = _vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
	ignore = untracked
[submodule "_vim/bundle/deoplete-clang"]
	path = _vim/bundle/deoplete-clang
	url = https://github.com/zchee/deoplete-clang.git
	ignore = untracked
[submodule "_vim/bundle/deoplete-jedi"]
	path = _vim/bundle/deoplete-jedi
	url = https://github.com/zchee/deoplete-jedi.git
	ignore = untracked
[submodule "_vim/bundle/deoplete-rtags"]
	path = _vim/bundle/deoplete-rtags
	url = https://github.com/rzaluska/deoplete-rtags.git
	ignore = untracked
[submodule "_vim/bundle/deoplete.nvim"]
	path = _vim/bundle/deoplete.nvim
	url = https://github.com/shougo/deoplete.nvim.git
	ignore = untracked
[submodule "_vim/bundle/neoformat"]
	path = _vim/bundle/neoformat
	url = https://github.com/sbdchd/neoformat.git
	ignore = untracked
[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = untracked
[submodule "_vim/bundle/vim-gutentags"]
	path = _vim/bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
	ignore = untracked
[submodule "_vim/bundle/voom"]
	path = _vim/bundle/voom
	url = https://github.com/vim-voom/voom.git
	ignore = untracked
[submodule "_vim/bundle/vim-gnupg"]
	path = _vim/bundle/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
	ignore = untracked
[submodule "_vim/bundle/deoplete-spell"]
	path = _vim/bundle/deoplete-spell
	url = https://github.com/deathlyfrantic/deoplete-spell.git
	ignore = untracked

